.icon-container {
    width: 8em;
    height: 8em;
    border: solid #d5d5d5 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
}

.icon-container:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.icon-title {
    font-family: sans-serif;
    margin-top: 1em;
    color: gray;
}

.icon {
    width: 2.5em;
}

/* IPAD */
@media only screen and (max-width: 770px) {
    
}

/* CELL PHONE */
@media only screen and (max-width: 380px) {
}
